body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    width: 1000px;
}

#heading{
    position: relative;
    color: rgb(19, 243, 56);
   padding-left: 200px;
   font-size: 80px;
}

#header{
     position: fixed;
     top:0;
     left: 0px;
     z-index : 500;
     width   :1000px;
     height  :110px;
     background-image  : url('images/wood-bg\ -\ Copy.png');
     background-repeat: repeat-x;
}

#header img{
     display: block;
     margin : auto;
     padding-bottom: 13px;
    width: 600px;
}

#tabs-top{
    position: fixed;
    top     : 100px;
    left    : 0;
    z-index : 500;
    width   : 1000px;
    height  : 40px;
    background-color:rgb(241, 37, 37);
    font-family:Arial, Helvetica, sans-serif;
}

#tabs-top a{
    float   : left;
    display : block;
    width   : 33%;
    height  :35px;
    font-weight : 700;
    color       : rgb(243, 242, 242);
    text-align  : center;
    text-decoration : none;
    padding-top     : 12px;  
}

#main-home{
    margin-top: 120px;
    margin-bottom: 35px;

}

#tabs-bottom{
    position : fixed;
    bottom   : 0;
    left     : 0;
    z-index  : 501;
    width    : 1000px;
    height   : 40px;
    background-color: rgb(255, 41, 13);
}

#tabs-bottom a{
   float : left;
   display : block;
   width : 50%;
   height : 35px;
   font-weight : 700;
   color       : white;
   text-align  : center;
   text-decoration : none;
   padding-top     : 12px;
}

#main{
    margin-top: 120px;
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

#main1{
    margin-top: -20px;
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
}

#main1 h3{
    text-align: center;
}

#content1{
    padding-top: 1px;
    padding-bottom: 50px;
}


a.info-box{
    text-decoration : none;
    background      : rgba(60, 73, 75, 0.8);
    width           : 90%;
    height          : 150px;
    display         : block;
    margin          : auto;
    margin-top      : 12px;
    padding         : 1px; 
    
}

.info-box img{
    height : 130px;
    width: 130px;
    margin : 10px;
    float  : left;
}

.info-box h3{
    padding : 0;
    margin-bottom :0;
    width : 90%;
    color : #12e6f5;
}

.info-box p{
    margin  : 0;
    padding : 0;
    width   : 90%;
    color   : rgb(10, 240, 10);
}

.info-box img.right{
    float      : right;
    margin-top : 15px;
    
}

#info-box-full{
    background-color : rgba(255, 255, 255, .8) ;
    width   : 90%;
    display : block;
    margin  : auto;
    margin-top : 12px;
    padding    : 10px;
}

#info-box-full a{
color:green;
size: 20px;

}

#info-box-full-blocks{
width: 60px;

}

#info-box-full img{
    width : 100%;
}

#info-box-full h1{
    text-align : center;
}

#info-box-full h3{
    text-align : center;
}


#info-box-fuller{
    background-color : rgba(255, 255, 255, .8) ;
    width   : 80%;
    display : block;
    margin  : auto;
    margin-top : 12px;
    padding    : 10px;
}

img.info-box-weather-icon{
    height : 50px;
    width  : 50px;
    margin : 10px;
    float  :left; 
}

h1.info-box-weather-icon{
    font-size  : 80px;
    font-weight: 200;
    padding    : 0;
    margin     : 0;
}